<!doctype html>
<html>
	<head>
		<title>pow.dev</title>
		<link rel="stylesheet" type="text/css" href="/main.css"/>
	</head>
	<body>
		<div class="page_header">
			<h1>
				<a href="/">pow.dev</a>
			</h1>
		</div>
		<table class="project_list">
			<tr>
				<th>project</th>
				<th>realpath</th>
			</tr>
			<% @apps.each_with_index do |app, index| %>
			<tr class="<%= index % 2 == 0 ? 'dark' : 'light' %>">
				<td><a href="http://<%= app.basename %>.dev" target="blank"><%= app.basename %></a></td>
				<td><%= app.realpath %></td>
			</tr>
			<% end %>
		</table>
		<div class="page_footer">
			<img src="http://pow.cx/images/logo-pow.png" alt="zomgpowpowpowpow" />
		</div>
	</body>
</html>
